* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


/* for full height */

.container-fluid,
.main {
    height: 100vh;
}

.main {
    background-color: var(--bs-white);
    /* flex box */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* main end */


/* title start */

.title {
    width: 80%;
    text-align: center;
    font-variant: small-caps;
    font-weight: bolder;
    color: var(--bs-warning);
}


/* title end */


/* board css start */

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    /* background-color: red; */
    text-align: left;
    position: relative;
    top: 30px;
}

.board div {
    width: 100%;
    position: relative;
}

.board .left {
    left: 1px;
}

.board .right {
    left: 55px;
}


/* board css end */


/* box container start*/

.m {
    width: 50%;
    padding: 3px !important;
}

.box_container {
    /* display: block; */
    width: 302px;
    height: 302px;
    /* padding: 1px; */
    background-color: var(--bs-info) !important;
    border: 1px solid var(--bs-info);
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: var(--bs-light) !important;
    border: 1px solid var(--bs-info);
    cursor: pointer;
    /**/
    position: absolute;
    font-variant: small-caps;
    /**/
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* smooth transition */
    transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
}

.box:active {
    background-color: rgb(241, 241, 241);
}

.refresh_btn {
    cursor: pointer;
}


/* keyframes */

@keyframes zoom {
    from {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    to {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}


/* keyframes end */

.box {
    animation: zoom 0.3s linear;
    -webkit-animation: zoom 0.3s linear;
}


/* box container end */


/* button container start */

.btn_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white !important;
}


/* button container end */


/* button container end */

.title {
    text-align: center;
}


/* winner_text */

.winner_text {
    color: red;
    font-variant: small-caps;
    letter-spacing: 1px;
}